// Font-weight

$bold: 700;
$semi-bold: 600;
$freestyle: "FREESCPT";
$icon: "icomoon";
// Font-colors
$text-color: #555555;
$lighted-color: #5363db;
$section-title: #5b6ceb;
$programm-subtitles: #777777;
$programm-type: #999999;
$animation-duration: 0.4s;
